.blog {
  width: 100%;
  .contanier {
    .row {
      flex-direction: column;
      h2 {
        margin-top: 5%;
        text-align: center;
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
      }
      .blogComp {
        margin-top: 2%;
        .blogFirstComp {
          width: 100%;
          display: flex;
          gap: 15%;
          .firstInfo {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .new {
              border-radius: 10px;
              background: #f04923;
              color: #fff;
              font-size: 20px;
              font-style: normal;
              font-weight: bold;
              line-height: normal;
              width: 20%;
              height: 30px;
              flex-shrink: 0;
              display: inline-block;
              text-align: center;
            }
            h5 {
              color: #000;
              font-size: 40px;
              font-style: normal;
              font-weight: bold;
              line-height: 50px;
              width: 75%;
            }
            .date {
              color: #9c9c9c;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px; /* 166.667% */
            }
            p {
              color: #000;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              width: 51%;
            }
            a {
              color: #004f3d;
              font-size: 12px;
              font-style: normal;
              font-weight: bold;
              line-height: 20px; /* 166.667% */
              text-decoration-line: underline;
            }
          }
        }
        .blogSecondComp {
          margin-top: 5%;
          display: flex;
          align-items: center;
          flex-direction: column;
          button {
            border-radius: 10px;
            background: #f04923;
            width: 15%;
            height: 70px;
            flex-shrink: 0;
            color: #fff;
            font-size: 25px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            border: none;
            outline: none;
            margin-top: 5%;
            margin-bottom: 5%;
            cursor: pointer;
          }
          .blogCards {
            display: flex;
            .card {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 15px;
              h5 {
                color: #000;
                font-size: 35px;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
              }
              span {
                color: #9c9c9c;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 166.667% */
              }
              p {
                color: #000;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 166.667% */
                text-align: center;
                width: 60%;
              }
              a {
                color: #004f3d;
                font-size: 12px;
                font-style: normal;
                font-weight: bold;
                line-height: 20px; /* 166.667% */
                text-decoration-line: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .blog {
    .contanier {
      .row {
        h2 {
          font-size: 35px;
        }
        .blogComp {
          .blogFirstComp {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .firstImg {
              width: 70%;
              img {
                width: 100%;
              }
            }
            .firstInfo {
              display: flex;
              flex-direction: column;
              align-items: center;
              h5 {
                text-align: center;
              }
            }
          }
          .blogSecondComp {
            .blogCards {
              flex-direction: column;
              gap: 20px;
              .card {
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .blog {
    .contanier {
      .row {
        h2 {
          font-size: 30px;
        }
        .blogComp {
          .blogFirstComp {
            .firstInfo {
              h5 {
                font-size: 30px;
              }
              p {
                text-align: center;
                width: 55%;
              }
            }
          }
          .blogSecondComp {
            button {
              width: 30%;
              height: 55px;
              color: #fff;
              font-size: 22px;
            }
            .blogCards {
              .card {
                h5 {
                  font-size: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
